@import "~@watheia/app.theme.colors/colors.module.scss";

// brand colors
.primary {
  --bit-accent-color: #{$g50};
  --bit-accent-heavy: #{$g60};
  --bit-accent-light: #{$g40};
  --bit-accent-text: #{$g50};
  --bit-accent-text-heavy: #{$g60};
  --bit-text-on-accent: #{$w10};
  --bit-accent-bg: #{$g20};
  --bit-accent-bg-heavy: #{$g30};
}

.complementary {
  --bit-accent-color: #{$b50};
  --bit-accent-heavy: #{$b60};
  --bit-accent-light: #{$b40};
  --bit-accent-text: #{$b50};
  --bit-accent-text-heavy: #{$b60};
  --bit-text-on-accent: #{$w10};
  --bit-accent-bg: #{$b20};
  --bit-accent-bg-heavy: #{$b30};
}

// intents
.impulsive {
  --bit-accent-color: #{$r50};
  --bit-accent-heavy: #{$r60};
  --bit-accent-light: #{$r40};
  --bit-accent-text: #{$r50};
  --bit-accent-text-heavy: #{$r60};
  --bit-text-on-accent: #{$w10};
  --bit-accent-bg: #{$r20};
  --bit-accent-bg-heavy: #{$r30};
}

.hungry {
  --bit-accent-color: #{$y50};
  --bit-accent-heavy: #{$y60};
  --bit-accent-light: #{$y40};
  --bit-accent-text: #{$y50};
  --bit-accent-text-heavy: #{$y60};
  --bit-text-on-accent: #{$d70};
  --bit-accent-bg: #{$y20};
  --bit-accent-bg-heavy: #{$y30};
}

.success {
  --bit-accent-color: #{$g50};
  --bit-accent-heavy: #{$g60};
  --bit-accent-light: #{$g40};
  --bit-accent-text: #{$g50};
  --bit-accent-text-heavy: #{$g60};
  --bit-text-on-accent: #{$w10};
  --bit-accent-bg: #{$g20};
  --bit-accent-bg-heavy: #{$g30};
}

.process {
  --bit-accent-color: #{$b50};
  --bit-accent-heavy: #{$b60};
  --bit-accent-light: #{$b40};
  --bit-accent-text: #{$b50};
  --bit-accent-text-heavy: #{$b60};
  --bit-text-on-accent: #{$w10};
  --bit-accent-bg: #{$b20};
  --bit-accent-bg-heavy: #{$b30};
}

// weight
.emphasized {
  --bit-accent-color: #{$d60};
  --bit-accent-heavy: #{$d70};
  --bit-accent-light: #{$d50};
  --bit-accent-text: #{$d60};
  --bit-accent-text-heavy: #{$d70};
  --bit-text-on-accent: #{$w10};
  --bit-accent-bg: #{$d10};
  --bit-accent-bg-heavy: #{$d15};
}

.neutral {
  --bit-accent-color: #{$d50};
  --bit-accent-heavy: #{$d60};
  --bit-accent-light: #{$d40};
  --bit-accent-text: #{$d50};
  --bit-accent-text-heavy: #{$d60};
  --bit-text-on-accent: #{$w10};
  --bit-accent-bg: #{$w20};
  --bit-accent-bg-heavy: #{$d10};
}
