//@HACK - fonts don't work with storage.cloud.google.com
$staticStorageUrl: "https://cdn.watheia.org/assets";

/**
 * Define `@font-face` rules for font-family Circular Pro Book, including bold and italic.  
 * Provides a handy class name to add to root component.
 *
 * @example
 * import { sansFint } from '@bit/bit.base-ui.theme.fonts.book';
 * //...
 *
 * <body className={sansFint}>
 *   <div>I'm using font!</div>
 *   <div style={{ fontWeight: 'bold'}}>I am BOLD</div>
 * </body>
 */
@font-face {
  font-display: swap;
  font-family: "Adobe Clean Serif";
  font-style: italic;
  font-weight: bold;
  src: url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-BoldIt.eot");
  src: local("Adobe Clean Serif Bold Italic"), local("AdobeCleanSerif-BoldIt"),
    url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-BoldIt.eot?#iefix")
      format("embedded-opentype"),
    url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-BoldIt.woff2") format("woff2"),
    url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-BoldIt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Adobe Clean";
  font-style: normal;
  font-weight: 300;
  src: url($staticStorageUrl + "fonts/subset-AdobeClean-Light.eot");
  src: local("Adobe Clean Light"), local("AdobeClean-Light"),
    url($staticStorageUrl + "fonts/subset-AdobeClean-Light.eot?#iefix")
      format("embedded-opentype"),
    url($staticStorageUrl + "fonts/subset-AdobeClean-Light.woff2") format("woff2"),
    url($staticStorageUrl + "fonts/subset-AdobeClean-Light.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Adobe Clean Serif";
  font-style: normal;
  font-weight: bold;
  src: url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-Bold.eot");
  src: local("Adobe Clean Serif Bold"), local("AdobeCleanSerif-Bold"),
    url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-Bold.eot?#iefix")
      format("embedded-opentype"),
    url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-Bold.woff2") format("woff2"),
    url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-Bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Adobe Clean";
  font-style: italic;
  font-weight: 300;
  src: url($staticStorageUrl + "fonts/subset-AdobeClean-LightIt.eot");
  src: local("Adobe Clean Light Italic"), local("AdobeClean-LightIt"),
    url($staticStorageUrl + "fonts/subset-AdobeClean-LightIt.eot?#iefix")
      format("embedded-opentype"),
    url($staticStorageUrl + "fonts/subset-AdobeClean-LightIt.woff2") format("woff2"),
    url($staticStorageUrl + "fonts/subset-AdobeClean-LightIt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Adobe Clean Serif";
  font-style: italic;
  font-weight: normal;
  src: url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-It.eot");
  src: local("Adobe Clean Serif Italic"), local("AdobeCleanSerif-It"),
    url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-It.eot?#iefix")
      format("embedded-opentype"),
    url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-It.woff2") format("woff2"),
    url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-It.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Adobe Clean";
  font-style: normal;
  font-weight: 900;
  src: url($staticStorageUrl + "fonts/subset-AdobeClean-Black.eot");
  src: local("Adobe Clean Black"), local("AdobeClean-Black"),
    url($staticStorageUrl + "fonts/subset-AdobeClean-Black.eot?#iefix")
      format("embedded-opentype"),
    url($staticStorageUrl + "fonts/subset-AdobeClean-Black.woff2") format("woff2"),
    url($staticStorageUrl + "fonts/subset-AdobeClean-Black.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Adobe Clean Serif";
  font-style: normal;
  font-weight: normal;
  src: url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-Regular.eot");
  src: local("Adobe Clean Serif"), local("AdobeCleanSerif-Regular"),
    url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-Regular.eot?#iefix")
      format("embedded-opentype"),
    url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-Regular.woff2") format("woff2"),
    url($staticStorageUrl + "fonts/subset-AdobeCleanSerif-Regular.woff") format("woff");
}

.sansFont {
  font-family: "Adobe Clean", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.serifFont {
  font-family: "Adobe Clean Serif", Georgia, "Times New Roman", Times, serif;
}
